@import "tailwindcss";

@theme{
  --color-primary:#202020;
  --color-secondary:#121212;
  --color-accent:#1F1F1F;
  --color-hightlight:#3AE176;
  --color-priText:#FFFFFF;
  --color-secText:#B3B3B3;
}

/* ! Hide Scrollbar */
::-webkit-scrollbar{
  display: none;
}